spring:
  main:
    web-application-type: none
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27017/central_outbox_db?authSource=admin
  threads:
    virtual:
      enabled: true
logging:
  level:
    root: warn